{% extends 'shared/_MainLayout.html' %}
{% load static %}

{% block content %}

    <!-- Hero Section Begin -->
    <section class="hero-section">

        <div class="container">
            <div class="hs-slider owl-carousel">


                <div class="hs-item set-bg" data-setbg="{% static 'img\property\slider\1.jpg' %}">
                    <div class="row">
                        <div style="width: 100%;height: 250px" class="col-lg-12 ">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="hc-inner-text">
                                        <div class="hc-text">
                                            <h1 style="font-family:Serif ;font-weight: bold;color: white;word-spacing: 0.5px">
                                                ...رویایت را با ما بساز</h1>
                                            <p class="text-right"> {{ info.address }}<span class="icon_pin_alt"></span>
                                            </p>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="hs-item set-bg" data-setbg="{% static 'img\property\slider\2.jpg' %}">
                    <div class="row">
                        <div style="width: 100%;height: 250px" class="col-lg-12">

                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="scroll-down" style="z-index: 3;"></div>
    </section>
    <!-- Hero Section End -->

    <!-- Search Section Begin -->
    <section class="search-section spad">
        <div class="container">

            <div class="">
                <div class=" section-title">
                    <h4>ملک مد نظر خود را جستجو کن</h4>
                </div>
            </div>



            <div class="search-form-content">

                <form action="{% url 'property-items' %}" class="filter-form">
                    <div class="pb-3">
                <div class="change-btn pb-3">
                    <div class="cb-item">
                        <label for="cb-rent" class="active">
                            اجاره
                            <input type="radio" id="cb-rent">
                        </label>
                    </div>
                    <div class="cb-item">
                        <label for="cb-sale">
                            رهن
                            <input type="radio" id="cb-sale">
                        </label>
                    </div>
                    <div class="cb-item">
                        <label for="cb-exchange">
                            معاوضه
                            <input type="radio" id="cb-exchange">
                        </label>
                    </div>
                </div>
            </div>
                    <select class="sm-width">

                        {#                        <option value="">شهر را انتخاب کنید</option>#}

                        <option value="">{{ item }}</option>
                    </select>
                    <select class="sm-width">
                        <option value="">منطقه را انتخاب کنید</option>
                    </select>
                    <select class="sm-width">
                        <option value="">وضعیت ملک را انتخاب کنید</option>
                    </select>
                    <select class="sm-width">
                        <option value="">نوع ملک را انتخاب کنید</option>
                    </select>
                    <select class="sm-width">
                        <option value="">تعداد اتاق را انتخاب کنید</option>
                    </select>
                    <select class="sm-width">
                        <option value="">تعداد پارکینگ را انتخاب کنید</option>
                    </select>
                    <div class="room-size-range-wrap sm-width">
                        <div class="price-text">
                            <label for="roomsizeRange">مساحت بر حسب متر مربع</label>
                            <input type="text" id="roomsizeRange" readonly>
                        </div>
                        <div id="roomsize-range" class="slider"></div>
                    </div>
                    <div class="price-range-wrap sm-width">
                        <div class="price-text">
                            <label for="priceRange">قیمت مد نظر</label>
                            <input type="text" id="priceRange" readonly>
                        </div>
                        <div id="price-range" class="slider"></div>
                    </div>
                    <button  type="submit" class="search-btn sm-width">!پیدا کن</button>
                </form>
            </div>
            <div class="more-option">
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-heading active">
                            <a data-toggle="collapse" data-target="#collapseOne">
                                امکانات بیشتر برای جستجو
                            </a>
                        </div>
                        <div id="collapseOne" class="collapse" data-parent="#accordionExample">
                            <div class="card-body">
                                <div class="mo-list">
                                    <div class="ml-column">
                                        <label for="cooling">کولر
                                            <input name="cooling" value="cooling"
                                                   {% if 'cooling' in features %}checked{% endif %} type="checkbox"
                                                   id="cooling">
                                            <span class="checkbox"></span>
                                        </label>
                                        <label for="heater">بخاری
                                            <input name="heater" value="heater"
                                                   {% if 'heater' in features %}checked{% endif %} type="checkbox"
                                                   id="heater">
                                            <span class="checkbox"></span>
                                        </label>
                                        <label for="refrigerator">یخچال
                                            <input name="refrigerator" value="refrigerator"
                                                   {% if 'refrigerator' in features %}checked{% endif %} type="checkbox"
                                                   id="refrigerator">
                                            <span class="checkbox"></span>
                                        </label>
                                        <label for="washer">ظرف شویی
                                            <input name="washer" value="washer"
                                                   {% if 'washer' in features %}checked{% endif %} type="checkbox"
                                                   id="washer">
                                            <span class="checkbox"></span>
                                        </label>
                                    </div>
                                    <div class="ml-column">
                                        <label for="barbeque">منقل
                                            <input name="barbeque" value="barbeque"
                                                   {% if 'barbeque' in features %}checked{% endif %} type="checkbox"
                                                   id="barbeque">
                                            <span class="checkbox"></span>
                                        </label>
                                        <label for="lawn">حیاط
                                            <input name="lawn" value="lawn"
                                                   {% if 'lawn' in features %}checked{% endif %} type="checkbox"
                                                   id="lawn">
                                            <span class="checkbox"></span>
                                        </label>
                                        <label for="sauna">سونا
                                            <input name="sauna" value="sauna"
                                                   {% if 'sauna' in features %}checked{% endif %} type="checkbox"
                                                   id="sauna">
                                            <span class="checkbox"></span>
                                        </label>
                                        <label for="wifi">وای فای
                                            <input name="wifi" value="wifi"
                                                   {% if 'wifi' in features %}checked{% endif %} type="checkbox"
                                                   id="wifi">
                                            <span class="checkbox"></span>
                                        </label>
                                    </div>
                                    <div class="ml-column">
                                        <label for="cabinet">کابینت
                                            <input name="cabinet" value="cabinet"
                                                   {% if 'cabinet' in features %}checked{% endif %} type="checkbox"
                                                   id="cabinet">
                                            <span class="checkbox"></span>
                                        </label>
                                        <label for="microwave">مایکروویو
                                            <input name="microwave" value="microwave"
                                                   {% if 'microwave' in features %}checked{% endif %} type="checkbox"
                                                   id="microwave">
                                            <span class="checkbox"></span>
                                        </label>
                                        <label for="pool">استخر
                                            <input name="pool" value="pool"
                                                   {% if 'pool' in features %}checked{% endif %} type="checkbox"
                                                   id="pool">
                                            <span class="checkbox"></span>
                                        </label>
                                        <label for="window">پرده
                                            <input name="window" value="window"
                                                   {% if 'window' in features %}checked{% endif %} type="checkbox"
                                                   id="window">
                                            <span class="checkbox"></span>
                                        </label>
                                    </div>
                                    <div class="ml-column last-column">
                                        <label for="gym">سالن ورزشی
                                            <input name="gym" value="gym" {% if 'gym' in features %}checked{% endif %}
                                                   type="checkbox" id="gym">
                                            <span class="checkbox"></span>
                                        </label>
                                        <label for="phone">تلفن
                                            <input name="phone" value="phone"
                                                   {% if 'phone' in features %}checked{% endif %} type="checkbox"
                                                   id="phone">
                                            <span class="checkbox"></span>
                                        </label>
                                        <label for="antenna">آنتن
                                            <input name="antenna" value="antenna"
                                                   {% if 'antenna' in features %}checked{% endif %} type="checkbox"
                                                   id="antenna">
                                            <span class="checkbox"></span>
                                        </label>
                                        <label for="villa">ویلا
                                            <input name="villa" value="villa"
                                                   {% if 'villa' in features %}checked{% endif %} type="checkbox"
                                                   id="villa">
                                            <span class="checkbox"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Search Section End -->


    <!-- Property Section Begin -->
    <section class="property-section latest-property-section spad">
        <div class="container">
            <div class="text-sm-center ">
                    <div class="section-title text-right" style="text-align: right">
                        <h4 style="font-family: 'yekan'">ملک های اخیر</h4>
                    </div>
                </div>
                <div class="">
                    <div class="property-controls pb-3 text-right">
                        <ul>


                            <li data-filter=".store">مغازه</li>
                            <li data-filter=".restaurant">رستوران</li>
                            <li data-filter=".villa">ویلا</li>
                            <li data-filter=".garden">باغ</li>
                            <li data-filter=".apart">آپارتمان</li>

                            <li data-filter=".house">خانه</li>

                            <li data-filter="all">همه</li>



                        </ul>
                    </div>
                </div>



            <div class="row property-filter">


                {% for item in house %}
                    <div class="col-lg-4 col-md-6  mix house">
                        {% include 'shared/shared_component.html' with item=item %}
                    </div>
                {% endfor %}
                {% for item in apartment %}
                    <div class="col-lg-4 col-md-6  mix apart">
                        {% include 'shared/shared_component.html' with item=item %}
                    </div>
                {% endfor %}
                {% for item in villa %}
                    <div class="col-lg-4 col-md-6  mix villa">
                        {% include 'shared/shared_component.html' with item=item %}
                    </div>
                {% endfor %}
                {% for item in garden %}
                    <div class="col-lg-4 col-md-6  mix garden">
                        {% include 'shared/shared_component.html' with item=item %}
                    </div>
                {% endfor %}
                {% for item in store %}
                    <div class="col-lg-4 col-md-6  mix store">
                        {% include 'shared/shared_component.html' with item=item %}
                    </div>
                {% endfor %}
                {% for item in restaurant %}
                    <div class="col-lg-4 col-md-6  mix restaurant">
                        {% include 'shared/shared_component.html' with item=item %}
                    </div>
                {% endfor %}


            </div>
        </div>

    </section>
    <!-- Property Section End -->

    <!-- Chooseus Section Begin -->
    <section class="chooseus-section spad set-bg" data-setbg="{% static 'img/chooseus/chooseus-bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="chooseus-text">
                        <div class="section-title">
                            <h4>Why choose us</h4>
                        </div>
                        <p>Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown
                            printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                    <div class="chooseus-features">
                        <div class="cf-item">
                            <div class="cf-pic">
                                <img src="{% static 'img/chooseus/chooseus-icon-1.png' %}" alt="">
                            </div>
                            <div class="cf-text">
                                <h5>Find your future home</h5>
                                <p>We help you find a new home by offering a smart real estate.</p>
                            </div>
                        </div>
                        <div class="cf-item">
                            <div class="cf-pic">
                                <img src="{% static 'img/chooseus/chooseus-icon-2.png' %}" alt="">
                            </div>
                            <div class="cf-text">
                                <h5>Buy or rent homes</h5>
                                <p>Millions of houses and apartments in your favourite cities</p>
                            </div>
                        </div>
                        <div class="cf-item">
                            <div class="cf-pic">
                                <img src="{% static 'img/chooseus/chooseus-icon-3.png' %}" alt="">
                            </div>
                            <div class="cf-text">
                                <h5>Experienced agents</h5>
                                <p>Find an agent who knows your market best</p>
                            </div>
                        </div>
                        <div class="cf-item">
                            <div class="cf-pic">
                                <img src="{% static 'img/chooseus/chooseus-icon-4.png' %}" alt="">
                            </div>
                            <div class="cf-text">
                                <h5>List your own property</h5>
                                <p>Sign up now and sell or rent your own properties</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Chooseus Section End -->

    <!-- Feature Property Section Begin -->
    <section class="feature-property-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 p-0">
                    <div class="fp-slider owl-carousel">
                        {% for item in news %}
                            <div class="fp-item set-bg" data-setbg="{{ item.image.url }}">
                                <div class="fp-text">
                                    <h5 style="background-color: rgba(0, 0, 0, 0.5)" class="title text-right">{{ item.title }}</h5>

                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-4 p-0">
                    <div class="feature-property-left">
                        <div class="section-title">
                            <h4>خبر های اخیر</h4>
                        </div>
                        <ul>
                            {% for item in news %}
                                <a style="color: white;background-color: inherit;text-align: right"
                                   href="/all-news/{{ item.id }}">{{ item.title }}</a>
                                {#                                <hr style="background-color: white">#}
                            {% endfor %}
                        </ul>
                        <a style="background-color: inherit;color: white;border-style: solid;border-color: white;border-radius: 4rem"
                           href="/all-news/all">مشاهده تمامی اخبار</a>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Feature Property Section End -->

    <!-- Team Section Begin -->
    <section class="team-section spad">
        <div class="container">

                <div class="col-lg-4 col-md-4">
                    <div class="team-btn">
                        <a href="#" class="" style="font-family: yekan"><i class="fa fa-user"></i> مشاهده تمامی مشاورین</a>
                    </div>
                </div>
                <div class="text-right">
                    <div class="section-title">
                        <h4>مشاورین ما</h4>
                    </div>
                </div>


            <div class="row">
                {% for item in agents %}
                    <div class="col-md-4">

                        <div class="ts-item">
                            <div class="ts-text">
                                <img src="{% if item.image %} {{ item.image.url }} {% else %} {% static 'img/Daco_4880035.png' %} {% endif %}"
                                     alt="">
                                <h5>{{ item.full_name }}</h5>
                                <span>{{ item.phone }}</span>
                                {#                            <p>Ipsum dolor amet, consectetur adipiscing elit, eiusmod tempor incididunt lorem.</p>#}
                                <div class="ts-social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-envelope-o"></i></a>
                                </div>
                            </div>
                        </div>

                    </div>
                {% endfor %}


            </div>
        </div>
    </section>
    <!-- Team Section End -->

    <!-- Categories Section Begin -->
    <section class="categories-section pb-5">
        <div class="cs-item-list">
            <div class="cs-item set-bg" data-setbg="{% static 'img/categories/cat-1.jpg' %}">
                <div class="cs-text">
                    <h5>آپارتمان</h5>
                    <span>{{ apartment_count }}عدد</span>
                </div>
            </div>
            <div class="cs-item set-bg" data-setbg="{% static 'img/categories/cat-2.jpg' %}">
                <div class="cs-text">
                    <h5>ویلا</h5>
                    <span>{{ villa_count }}عدد</span>
                </div>
            </div>
            <div class="cs-item set-bg" data-setbg="{% static 'img/categories/cat-3.jpg' %}">
                <div class="cs-text">
                    <h5>خانه</h5>
                    <span>{{ house_count }}عدد</span>
                </div>
            </div>
            <div class="cs-item set-bg" data-setbg="{% static 'img/categories/cat-4.jpg' %}">
                <div class="cs-text">
                    <h5>رستوران</h5>
                    <span>{{ restaurant_count }}عدد</span>
                </div>
            </div>
            <div class="cs-item set-bg" data-setbg="{% static 'img/categories/cat-5.jpg' %}">
                <div class="cs-text">
                    <h5>مغازه</h5>
                    <span>{{ store_count }}عدد</span>
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->
    {% if comments %}


        <!-- Testimonial Section Begin -->
        <section class="testimonial-section spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title">
                            <h4>نظرات اخیر کاربران املاک رستم زاده</h4>
                        </div>
                    </div>
                    <div class="row testimonial-slider owl-carousel">

                        {% for item in comments %}
                            <div class="col-lg-6">
                                <div class="testimonial-item">
                                    <div class="ti-text">
                                        <p>Lorem ipsum dolor amet, consectetur adipiscing elit, seiusmod tempor
                                            incididunt ut labore
                                            magna aliqua. Quis ipsum suspendisse ultrices gravida accumsan lacus vel
                                            facilisis.</p>
                                    </div>
                                    <div class="ti-author">
                                        <div class="ta-pic">
                                            <img src="{% static 'img/testimonial-author/ta-1.jpg' %}" alt="">
                                        </div>
                                        <div class="ta-text">
                                            <h5>Arise Naieh</h5>
                                            <span>Designer</span>
                                            <div class="ta-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}

                    </div>
                </div>

            </div>
        </section>
        <!-- Testimonial Section End -->

    {% endif %}
    <!-- Logo Carousel Begin -->
    {#    <div class="logo-carousel">#}
    {#        <div class="container">#}
    {#            <div class="lc-slider owl-carousel">#}
    {#                <a href="#" class="lc-item">#}
    {#                    <div class="lc-item-inner">#}
    {#                        <img src="{% static 'img/logo-carousel/lc-1.png' %}" alt="">#}
    {#                    </div>#}
    {#                </a>#}
    {#                <a href="#" class="lc-item">#}
    {#                    <div class="lc-item-inner">#}
    {#                        <img src="{% static 'img/logo-carousel/lc-2.png' %}" alt="">#}
    {#                    </div>#}
    {#                </a>#}
    {#                <a href="#" class="lc-item">#}
    {#                    <div class="lc-item-inner">#}
    {#                        <img src="{% static 'img/logo-carousel/lc-3.png' %}" alt="">#}
    {#                    </div>#}
    {#                </a>#}
    {#                <a href="#" class="lc-item">#}
    {#                    <div class="lc-item-inner">#}
    {#                        <img src="{% static 'img/logo-carousel/lc-4.png' %}" alt="">#}
    {#                    </div>#}
    {#                </a>#}
    {#                <a href="#" class="lc-item">#}
    {#                    <div class="lc-item-inner">#}
    {#                        <img src="{% static 'img/logo-carousel/lc-5.png' %}" alt="">#}
    {#                    </div>#}
    {#                </a>#}
    {#                <a href="#" class="lc-item">#}
    {#                    <div class="lc-item-inner">#}
    {#                        <img src="{% static 'img/logo-carousel/lc-6.png' %}" alt="">#}
    {#                    </div>#}
    {#                </a>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    <!-- Logo Carousel End -->
    <!-- Contact Section Begin -->
    <section class="contact-section">


        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="contact-info">
                        <div class="ci-item">
                            <div class="ci-icon te">
                                <i class="fa fa-map-marker"></i>
                            </div>
                            <div class="ci-text">
                                <h5>آدرس ما</h5>
                                <p>{{ info.address }}</p>
                            </div>
                        </div>
                        <div class="ci-item">
                            <div class="ci-icon">
                                <i class="fa fa-mobile"></i>
                            </div>
                            <div class="ci-text">
                                <h5>تلفن تماس ما</h5>
                                <ul>
                                    <li>{{ info.phone }}</li>

                                </ul>
                            </div>
                        </div>
                        <div class="ci-item">
                            <div class="ci-icon">
                                <i class="fa fa-headphones"></i>
                            </div>
                            <div class="ci-text">
                                <h5>نشانی ایمیل ما</h5>
                                <p>{{ info.email }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cs-map">
            <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d786.760842356485!2d46.1321631291956!3d37.92941725655465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x401a6dbee42d4703%3A0x9e8864017ff16bc6!2z2b7Ysdiq2KbbjNmGINiz2LHYp9uMINiy2YXYp9mG2LLYp9iv2Yc!5e0!3m2!1sen!2s!4v1634748702270!5m2!1sen!2s"
                    height="450" style="border:0;" allowfullscreen=""></iframe>
        </div>
    </section>
    <!-- Contact Section End -->


    <!-- Footer Section Begin -->

    <!-- Footer Section End -->

    <!-- Js Plugins -->

{% endblock %}

