<div class="property-item">
    <div class="pi-pic set-bg" data-setbg="{{ item.image.url }}">
        <div class="label">برای {{ item.status.first }}</div>
    </div>
    <div class="pi-text text-right">
        <a href="#" class="heart-icon"><span class="icon_heart_alt"></span></a>
        <div class="pt-price">

            {% if item.status.first.value == 'rent' %}
                <span> هر ماه  </span>  {{ item.monthly_price }}
                تومان
            {% else %}
                {{ item.price }}تومان
            {% endif %}


        </div>
        <h5><a href="/property-details/{{ item.id }}">{{ item.title }}</a></h5>
        <div class="row">
            <p>{{ item.address }}<span class="icon_pin_alt"></span></p>
        </div>
        <ul>
            <li><i class="fa fa-object-group"></i> {{ item.size }}</li>
            <li><i class="fa fa-bathtub"></i> {{ item.floor }}</li>
            <li><i class="fa fa-bed"></i> {{ item.bedroom }}</li>
            <li><i class="fa fa-automobile"></i> {{ item.garage }}</li>
        </ul>
        <div class="pi-agent">
            <div class="pa-item">
                <div class="pa-info">
                    <img src="{{ item.image.url }}" alt="">
                    <h6>{{ item.user.first_name }} {{ item.user.last_name }}</h6>
                </div>
                <div class="pa-text">
                    {{ item.user.phone }}
                </div>
            </div>
        </div>
    </div>
</div>