{% extends 'shared/_MainLayout.html' %}
{% load static %}
{% load render_partial %}
{% block content %}

  <!-- Breadcrumb Section Begin -->

    <!-- Blog Hero Section Begin -->
       <!-- Breadcrumb Section Begin -->
    <section class="blog-hero-section set-bg" data-setbg="{% static 'img/breadcrumb-bg.jpg' %}" style="height: 350px;">

    </section>
    <!-- Breadcrumb Section End -->
    <section>
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item " aria-current="page">لیست خبر ها</li>

                    <li class="breadcrumb-item active"><a href="/">صفحه اصلی</a></li>

                </ol>
            </nav>
        </div>
    </section>
    <!-- Breadcrumb Section End -->



    <!-- Blog Section Begin -->
    <section class="blog-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="blog-item-list">
                        <div class="blog-item large-blog">
                            <div class="bi-pic">
                                <img style="width: 100%;height:100%" src="{{ main_news.image.url }}" alt="">
                            </div>
                            <div class="bi-text">
                                <h4 class="text-right"><a href="/blog-detail/{{ main_news.id }}">{{ main_news.title}}</a></h4>
                                <ul class="text-right">
                                    <li>پست شده توسط: <span>{{ main_news.user.username }} {{ main_news.user.last_name }}</span></li>
                                    <li>{{ main_news.added_date}}</li>
{#                                    <li>12 Comment</li>#}
                                </ul>
                                <p class="text-right">...{{ main_news.get_description_first_part }}</p>
                                <a  href="/blog-detail/{{ main_news.id }}" class="read-more float-right"><span class="arrow_left"></span>بیشتر بخوانید </a>
                            </div>
                        </div>
                        {% for item in other_news %}
                        <div class="blog-item">
                            <div class="bi-pic">
                                <img src="{{ item.image.url }}" alt="" style="width: 330px;height: 220px">
                            </div>
                            <div class="bi-text">
                                <h5><a href="/blog-detail/{{ item.id }}">{{ item.title}}</a></h5>
                                <ul>
                                    <li>پست شده توسط: <span>{{ item.user.username }} {{ item.user.last_name }}</span></li>
                                    <li>{{ item.added_date}}</li>
{#                                    <li>12 Comment</li>#}
                                </ul>
                                <p>{{ item.get_description_first_part}}...</p>
                                <a href="/blog-detail/{{ item.id }}" class="read-more">بیشتر بخوانید <span class="arrow_right"></span></a>
                            </div>
                        </div>

                        {% endfor %}

                    </div>
{#                    <div class="blog-pagination property-pagination ">#}
{#                        <a href="#">1</a>#}
{#                        <a href="#">2</a>#}
{#                        <a href="#">3</a>#}
{#                        <a href="#" class="icon"><span class="arrow_right"></span></a>#}
{#                    </div>#}
                </div>
{#                <div class="col-lg-4">#}
{#                    <div class="blog-sidebar">#}
{#                        <div class="follow-us">#}
{#                            <div class="section-title sidebar-title-b">#}
{#                                <h6>Follow us</h6>#}
{#                            </div>#}
{#                            <div class="fu-links">#}
{#                                <a href="#"><i class="fa fa-facebook"></i></a>#}
{#                                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>#}
{#                                <a href="#" class="youtube"><i class="fa fa-youtube-play"></i></a>#}
{#                                <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="feature-post">#}
{#                            <div class="section-title sidebar-title-b">#}
{#                                <h6>Feature posts</h6>#}
{#                            </div>#}
{#                            <div class="recent-post">#}
{#                                <div class="rp-item">#}
{#                                    <div class="rp-pic">#}
{#                                        <img src="{% static 'img/blog/rp-1.jpg' %}" alt="">#}
{#                                    </div>#}
{#                                    <div class="rp-text">#}
{#                                        <h6><a href="#">Vancouver real estate advisurges conference goers...</a></h6>#}
{#                                        <span>Seb 24, 2019</span>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="rp-item">#}
{#                                    <div class="rp-pic">#}
{#                                        <img src="{% static 'img/blog/rp-1.jpg' %}" alt="">#}
{#                                    </div>#}
{#                                    <div class="rp-text">#}
{#                                        <h6><a href="#">Vancouver real estate advisurges conference goers...</a></h6>#}
{#                                        <span>Seb 24, 2019</span>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="rp-item">#}
{#                                    <div class="rp-pic">#}
{#                                        <img src="{% static 'img/blog/rp-1.jpg' %}" alt="">#}
{#                                    </div>#}
{#                                    <div class="rp-text">#}
{#                                        <h6><a href="#">Vancouver real estate advisurges conference goers...</a></h6>#}
{#                                        <span>Seb 24, 2019</span>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="rp-item">#}
{#                                    <div class="rp-pic">#}
{#                                        <img src="{% static 'img/blog/rp-1.jpg' %}" alt="">#}
{#                                    </div>#}
{#                                    <div class="rp-text">#}
{#                                        <h6><a href="#">Vancouver real estate advisurges conference goers...</a></h6>#}
{#                                        <span>Seb 24, 2019</span>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="subscribe-form">#}
{#                            <div class="section-title sidebar-title-b">#}
{#                                <h6>Subscribe</h6>#}
{#                            </div>#}
{#                            <p>Consectetur adipiscing elit, sed do eiusmod ut labore.</p>#}
{#                            <form action="#">#}
{#                                <input type="text" placeholder="Email">#}
{#                                <button type="submit" class="site-btn">Subscribe</button>#}
{#                            </form>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
            </div>
        </div>
    </section>
    <!-- Blog Section End -->



{% endblock %}