

{% extends 'shared/_MainLayout.html' %}
{% load static %}
{% load render_partial %}
{% block content %}



    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section spad set-bg" data-setbg="{% static 'img/breadcrumb-bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h4>Property Submit</h4>
                        <div class="bt-option">
                            <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                            <span>Property</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Property Submit Section Begin -->
    <section class="property-submit-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 float-right ">


                    <div class="container mx-auto mt-4 property-item">
                        <div class="row">
                            {% for item in object_list %}




                                <div class="col-md-3 col-lg-4">
                                    {% include 'shared/shared_component.html' with item=item %}


                                </div>


                            {% endfor %}

                        </div>
                    </div>


                </div>
            </div>
        </div>


    </section>
    <!-- Property Submit Section End -->

{% endblock %}