

{% extends 'shared/_MainLayout.html' %}
{% load static %}
{% load render_partial %}
{% block content %}


    <!-- Property Details Section Begin -->
    <section class="property-details-section">


        <div class="property-pic-slider owl-carousel">

            {% for item in images.values %}
                <div class="ps-item">

                    <div class="container-fluid">

                        <div class="row">


                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="col-lg-12 p-0">
                                        <div class="ps-item-inner large-item set-bg"
                                             data-setbg="{{ item.0.images.url }}"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="col-sm-6 p-0">
                                        <div class="ps-item-inner set-bg" data-setbg="{{ item.1.images.url }}"></div>
                                    </div>
                                    <div class="col-sm-6 p-0">
                                        <div class="ps-item-inner set-bg" data-setbg="{{ item.2.images.url }}"></div>
                                    </div>
                                    <div class="col-sm-6 p-0">
                                        <div class="ps-item-inner set-bg" data-setbg="{{ item.3.images.url }}"></div>
                                    </div>
                                    <div class="col-sm-6 p-0">
                                        <div class="ps-item-inner set-bg" data-setbg="{{ item.4.images.url }}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}


        </div>


        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="pd-text">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="pd-title">
                                    {#                                    <a href="#" class="heart-icon"><span class="icon_heart_alt"></span></a>#}
                                    <div class="label">برای {{ property.status.first }}</div>
                                    <div class="pt-price">

                                        {% if property.status.first.value == 'rent' %}
                <span> هر ماه  </span>  {{ property.monthly_price }}
                تومان
                                    {% else %}
                                        {{ property.price }}تومان

                                    {% endif %}



                                    </div>
                                    <h3>{{ property.title }}</h3>
                                    <p><span class="icon_pin_alt"></span>{{ property.address }}</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="pd-social">
                                    <a href="#"><i class="fa fa-mail-forward"></i></a>
                                    <a href="#"><i class="fa fa-send"></i></a>
                                    <a href="#"><i class="fa fa-heart"></i></a>
                                    <a href="#"><i class="fa fa-mail-forward"></i></a>
                                    <a href="#"><i class="fa fa-cloud-download"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="pd-board">
                            <div class="tab-board">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#tabs-1"
                                           role="tab">Overview</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Description</a>
                                    </li>
                                    {#                                    <li class="nav-item">#}
                                    {#                                        <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">Amenities</a>#}
                                    {#                                    </li>#}
                                </ul><!-- Tab panes -->
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                        <div class="tab-details">
                                            <ul class="left-table">
                                                <li>
                                                    <span class="type-name">نوع ملک</span>
                                                    <span class="type-value">{{ property.type.first }}</span>
                                                </li>
                                                <li>
                                                    <span class="type-name">کد ملک</span>
                                                    <span class="type-value">#{{ property.property_id }}</span>
                                                </li>
                                                <li>
                                                    <span class="type-name">قیمت</span>
                                                    <span class="type-value"> {{ property.price }}     تومان</span>
                                                </li>
                                                <li>
                                                    <span class="type-name">سال ساخت</span>
                                                    <span class="type-value">{{ property.year }}</span>
                                                </li>
                                                <li>
                                                    <span class="type-name">وضعیت</span>
                                                    <span class="type-value">{{ property.status.first }}

                                                        {% if property.status.first.value == 'rent' %}
                                                            <span> هر ماه  </span>  {{ property.monthly_price }}
                                                            تومان {% endif %}
                                                    </span>
                                                </li>
                                                <li>
                                                    <span class="type-name">فروشنده</span>
                                                    <span class="type-value">{{ property.user.first_name }}{{ property.user.last_name }}</span>
                                                </li>
                                            </ul>
                                            <ul class="right-table">
                                                <li>
                                                    <span class="type-name">مساحت</span>
                                                    <span class="type-value"> {{ property.area_unit }}{{ property.area }}</span>
                                                </li>
                                                <li>
                                                    <span class="type-name"> اتاق</span>
                                                    <span class="type-value">9</span>
                                                </li>
                                                <li>
                                                    <span class="type-name"> سرویس بهداشتی</span>
                                                    <span class="type-value">عدد{{ property.bathroom }}</span>
                                                </li>
                                                <li>
                                                    <span class="type-name">طبقه</span>
                                                    <span class="type-value">عدد{{ property.floor }}</span>
                                                </li>
                                                <li>
                                                    <span class="type-name">پارکینگ</span>
                                                    <span class="type-value">عدد{{ property.garage }}</span>
                                                </li>
                                                <li>
                                                    <span class="type-name">مساحت پارکینگ</span>
                                                    <span class="type-value">{{ property.garage_unit }}{{ property.garage_area }} </span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tabs-2" role="tabpanel">
                                        <div class="tab-desc">
                                            <p>{{ property.description }}</p>
                                        </div>
                                    </div>
                                    {#                                    <div class="tab-pane" id="tabs-3" role="tabpanel">#}
                                    {#                                        <div class="tab-details">#}
                                    {#                                            <ul class="left-table">#}
                                    {#                                                <li>#}
                                    {#                                                    <span class="type-name">نوع ملک</span>#}
                                    {#                                                    <span class="type-value">House</span>#}
                                    {#                                                </li>#}
                                    {#                                                <li>#}
                                    {#                                                    <span class="type-name">Property ID</span>#}
                                    {#                                                    <span class="type-value">#219</span>#}
                                    {#                                                </li>#}
                                    {#                                                <li>#}
                                    {#                                                    <span class="type-name">Price</span>#}
                                    {#                                                    <span class="type-value">$ 289.0/mounth</span>#}
                                    {#                                                </li>#}
                                    {#                                                <li>#}
                                    {#                                                    <span class="type-name">Year Built</span>#}
                                    {#                                                    <span class="type-value">2019</span>#}
                                    {#                                                </li>#}
                                    {#                                                <li>#}
                                    {#                                                    <span class="type-name">Contract type</span>#}
                                    {#                                                    <span class="type-value">Rent</span>#}
                                    {#                                                </li>#}
                                    {#                                                <li>#}
                                    {#                                                    <span class="type-name">Agent</span>#}
                                    {#                                                    <span class="type-value">Ashton Kutcher</span>#}
                                    {#                                                </li>#}
                                    {#                                            </ul>#}
                                    {#                                            <ul class="right-table">#}
                                    {#                                                <li>#}
                                    {#                                                    <span class="type-name">Home Area</span>#}
                                    {#                                                    <span class="type-value">1200 sqft</span>#}
                                    {#                                                </li>#}
                                    {#                                                <li>#}
                                    {#                                                    <span class="type-name">Rooms</span>#}
                                    {#                                                    <span class="type-value">9</span>#}
                                    {#                                                </li>#}
                                    {#                                                <li>#}
                                    {#                                                    <span class="type-name">Bedrooms</span>#}
                                    {#                                                    <span class="type-value">4</span>#}
                                    {#                                                </li>#}
                                    {#                                                <li>#}
                                    {#                                                    <span class="type-name">Bathrooms</span>#}
                                    {#                                                    <span class="type-value">3</span>#}
                                    {#                                                </li>#}
                                    {#                                                <li>#}
                                    {#                                                    <span class="type-name">Garages</span>#}
                                    {#                                                    <span class="type-value">2</span>#}
                                    {#                                                </li>#}
                                    {#                                                <li>#}
                                    {#                                                    <span class="type-name">Parking lots</span>#}
                                    {#                                                    <span class="type-value">2</span>#}
                                    {#                                                </li>#}
                                    {#                                            </ul>#}
                                    {#                                        </div>#}
                                    {#                                    </div>#}
                                </div>
                            </div>
                        </div>
                        {#                        <div class="pd-widget">#}
                        {#                            <h4>Floor plans</h4>#}
                        {#                            <img src="img/property/details/floor-plan.jpg" alt="">#}
                        {#                        </div>#}
                        {#                        <div class="pd-widget">#}
                        {#                            <h4>Floor plans</h4>#}
                        {#                            <div class="map">#}
                        {#                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d735515.5813275519!2d-80.41163541934742!3d43.93644386501528!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882a55bbf3de23d7%3A0x3ada5af229b47375!2sMono%2C%20ON%2C%20Canada!5e0!3m2!1sen!2sbd!4v1583262687289!5m2!1sen!2sbd"#}
                        {#                                        height="350" style="border:0;" allowfullscreen=""></iframe>#}
                        {#                            </div>#}
                        {#                            <div class="map-location">#}
                        {#                                <div class="row">#}
                        {#                                    <div class="col-lg-6">#}
                        {#                                        <div class="ml-item">#}
                        {#                                            <div class="ml-single-item">#}
                        {#                                                <h6>Hospital <span>( <i class="fa fa-location-arrow"></i> 5 km )</span>#}
                        {#                                                </h6>#}
                        {#                                                <p>Portland Ave Rochester, NY 14621</p>#}
                        {#                                            </div>#}
                        {#                                            <div class="ml-single-item">#}
                        {#                                                <h6>Schools <span>( <i class="fa fa-location-arrow"></i> 8 km )</span>#}
                        {#                                                </h6>#}
                        {#                                                <p>Cragin Elementary School</p>#}
                        {#                                            </div>#}
                        {#                                            <div class="ml-single-item">#}
                        {#                                                <h6>Store <span>( <i class="fa fa-location-arrow"></i> 2 km )</span>#}
                        {#                                                </h6>#}
                        {#                                                <p>Exceptional Shoes & Clothing</p>#}
                        {#                                            </div>#}
                        {#                                        </div>#}
                        {#                                    </div>#}
                        {#                                    <div class="col-lg-6">#}
                        {#                                        <div class="ml-item">#}
                        {#                                            <div class="ml-single-item">#}
                        {#                                                <h6>Laundry <span>( <i class="fa fa-location-arrow"></i> 3 km )</span>#}
                        {#                                                </h6>#}
                        {#                                                <p>Besst at laundry</p>#}
                        {#                                            </div>#}
                        {#                                            <div class="ml-single-item">#}
                        {#                                                <h6>Health <span>( <i class="fa fa-location-arrow"></i> 5 km )</span>#}
                        {#                                                </h6>#}
                        {#                                                <p>Boomerang Barber & Beauty</p>#}
                        {#                                            </div>#}
                        {#                                            <div class="ml-single-item">#}
                        {#                                                <h6>Health <span>( <i class="fa fa-location-arrow"></i> 5 km )</span>#}
                        {#                                                </h6>#}
                        {#                                                <p>Boomerang Barber & Beauty</p>#}
                        {#                                            </div>#}
                        {#                                        </div>#}
                        {#                                    </div>#}
                        {#                                </div>#}
                        {#                            </div>#}
                        {#                        </div>#}
                        <div class="pd-widget">
                            <h4 class="text-right">فروشنده</h4>
                            <div class="pd-agent">
                                <div class="agent-pic">
                                    <img src="{% if property.image %} {{ property.image.url }} {% else %} {% static 'img/Daco_4880035.png' %}  {% endif %}" alt="">
                                </div>
                                <div class="agent-text">
                                    <div class="at-title">
                                        <h6>{{ property.user.first_name }} {{ property.user.last_name }}</h6>
                                        <span>مشاور فروش</span>
                                        <a href="#" class="primary-btn">دیدن پروفایل</a>
                                    </div>
                                    <p>{{ property.user.bio}}</p>
                                    <div class="at-option">
                                        <div class="at-number">{{ property.user.phone }}</div>
                                        <div class="at-social">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-envelope-o"></i></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="bc-widget">
                            {% if comments %}
                                <h4 class="text-center">نظرات این خبر</h4>

                            {% endif %}
                            <div class="comment-option">
                                {% for item in comments %}
                                    <div class="co-item">
                                        <div class="ci-pic">
                                            <img src="{% static 'img/Daco_4880035.png' %}" alt="">
                                        </div>
                                        <div class="ci-text">
                                            <h5>{{ item.full_name }}</h5>
                                            <p>{{ item.text }}</p>
                                            <ul>
                                                <li><i class="fa fa-clock-o"></i> {{ item.date }}</li>
                                                {#                                            <li><i class="fa fa-heart-o"></i> 12</li>#}
                                                {#                                            <li><i class="fa fa-share-square-o"></i> 1</li>#}
                                            </ul>
                                        </div>
                                    </div>
                                {% empty %}
                                    <div class="container" style="border-style: solid;border-radius: 5rem;border-color: #0f6674;
background-color: #d6d8db">
                                        <h5 class="text-center py-3">هیچ نظری برای این پست ثبت نشده است</h5>
                                        <h6 class="text-center pb-4">شما اولین نفر باشید</h6>

                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                        <div class="bc-widget">
                            <h5 class="text-right text-sm-center pb-5 ">نظر خود را با ما در میان بگذارید</h5>
                            <form action="#" class="leave-comment-form pb-5">
                                <div class="group-input text-right">
                                    <input class="text-center" name="name" type="text" placeholder="نام و نام خانوادگی">
                                    <input class="text-center" name="email" type="text" placeholder="ایمیل">

                                </div>
                                <textarea class="text-center" placeholder="نظر خود را این قسمت وارد نمایید"></textarea>
                                <button type="submit" class="site-btn float-right ">ارسال</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="property-sidebar">
                        <div class="single-sidebar">
<div class="section-title sidebar-title">
                              <h6 class="">مشاورین برتر</h6>
                            </div>
                            <div class="top-agent">

                                {% for item in top_agents %}
                                    <div class="ta-item">
                                        <div class="ta-pic set-bg"
                                             data-setbg="{% if item.image %} {{ item.image.url }} {% else %} {% static 'img/Daco_4880035.png' %} {% endif %}"></div>
                                        <div class="ta-text">
                                            <h6><a href="#">{{ item.full_name }}</a></h6>
                                            <span>{{ item.occupation }}</span>
                                            <div class="ta-num">{{ item.phone }}</div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="single-sidebar slider-op">

                            <div class="sf-slider owl-carousel">
                                <div class="sf-item set-bg" data-setbg="{% static 'img/categories/cat-1.jpg' %}">
                                    <div class="sf-text">
                                        <h5>خانه</h5>
                                        <span>عدد {{ house_count }}</span>
                                    </div>
                                </div>
                                <div class="sf-item set-bg" data-setbg="{% static 'img/categories/cat-2.jpg' %}">
                                    <div class="sf-text">
                                        <h5>آپارتمان</h5>
                                        <span>{{ apartment_count }}عدد</span>
                                    </div>
                                </div>
                                <div class="sf-item set-bg" data-setbg="{% static 'img/categories/cat-3.jpg' %}">
                                    <div class="sf-text">
                                        <h5>ویلا</h5>
                                        <span>{{ villa_count }}عدد</span>
                                    </div>
                                </div>
                                <div class="sf-item set-bg" data-setbg="{% static 'img/categories/cat-4.jpg' %}">
                                    <div class="sf-text">
                                        <h5>رستوران</h5>
                                        <span>{{ restaurant_count }}عدد</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Property Details Section End -->


{% endblock %}